<footer>
  <div class="footer-container">
    <div class="links">
      <a
        class="linkedin"
        href="https://www.linkedin.com/in/samuel-garc%C3%ADa-i%C3%B1esta-716747224/"
      >
        <img src="{{ footer.image }}" alt="{{ footer.image }}" />
      </a>

      <a class="github" href="https://github.com/Samuel-G3">
        <img src="{{ footer.image2 }}" alt="{{ footer.image2 }}" />
        </a
      >
    </div>
  </div>
</footer>
<!-- <p class="footer-container__creator">
  -{{ footer.creator }} x {{ footer.from }}-
  <a class="github" href="https://github.com/Samuel-G3"></a>
</p> -->
